# Frontend
NEXT_PUBLIC_WC_PROJECT_ID=
NEXT_PUBLIC_WHOT_ESCROW_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_REFERRER_ADDRESS=
NEXT_PUBLIC_SOURCE_TAG=whotwhot

# Contracts deploy
PRIVATE_KEY=
BASE_RPC_URL=https://mainnet.base.org
BASESCAN_API_KEY=
